body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    color: white;
}

.flexbox{
    display: flex;
}

.flex1,.flex2{
width: 50%;
height: 100vh;
}
.flex1{
    background-image:url(../images/wallpaper.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    position: relative;
}
.flex2{
    background-color: #EA1D62;
    position: relative;
}

.flex1 ul{
    margin: 0;
    padding-top: 10px;
    list-style-type: none;
    text-align: left;
}

.flex2 ul{
    list-style-type: none;
   
}

.flex1 li{
    display: inline-block;
    padding-left: 10px;
}

.flex2 li{
    text-align: center;
    width:75px;
    padding-left: 0;
    color: white;
    border-style: solid;
    padding: 5px;
    margin-left: 75%;
    margin-top: 20px;
    
  
}

.flex1 li:nth-child(1){
    font-size: 30px;
    font-weight:bolder;
}

.body_container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 300px;
    text-align: center;
}
.body_container2{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 270px;
    text-align: center;
    
}

.heading,.heading2{
    font-size: 30px;
    padding: 10px;
}

.link a,.link2 a{
    color: white;
}

.link,.link2{
    padding: 20px;
}

@media only screen and (max-width:426px){

    .flexbox{
        display: block;
    }
    .flex1{
        width: 100%;
    }

    .flex2{
        width: 100%;
    }
}