body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.banner{
    background-image: url(../images/wallpaper.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    height: 60vh;
    color: white;
    font-weight: bold;
    
}
.logo{
    float: left;
    margin-top:10px;

}
.banner ul{
    list-style-type: none;
    text-align: right;
    margin: 0;
}

.banner li{
    display: inline-block;
    padding-right: 50px;
    margin: 0;
    margin-top: 10px ;
   
}

.navigation{
    font-size: 24pt;
    color: orange;
    padding-left: 50px;
    padding-top: 80px;
    width: 25%;
}

.banner_text{
    color: white;
    font-size: 30pt;
}

.link{
    font-size: 15px;
    background-color: orange;
    color: white;
    width: 70px;
    border-radius: 50px;
    text-align: center;
    padding: 3px;
    margin-top:30px;
}

.link a{
    text-decoration: none;
    color: white;
}

.flexbox{
    display: flex;
    margin-top: 70px;
}

.flex1,.flex2{
   height: 40vh;
   text-align: center;
 
   
 
}
.image,.image2{  
    
}


.text,.text2{
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

@media only screen and (max-width:426px){

.banner{
      
}


.banner_text{
    font-size:15pt ;
    width: 140%;
}

.flexbox{
display:block;
}

.flex,.flex2{
    height: 30vh;
}

}